<md-toolbar>
    <div id="menubar" class="md-toolbar-tools">
        <span>RumbleMap</span>
        <span class="md-body-2" style="padding-left:200px">{{ numActive }} earthquakes in the {{current.toLowerCase()}} with min {{filter.mag}} magnitude</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>

        <span class="md-body-2" style="padding-right:10px">{{ filter.mag }}</span>
        <md-slider ng-model="filter.mag" ng-change="filterMarkers()" min="0" max="10" class="md-warn">

        </md-slider>

        <md-menu>
            <md-button aria-label="Time Period" class="md-icon-button" ng-click="$mdOpenMenu($event)">

                <md-icon md-font-set="material-icons"> schedule </md-icon>
                <md-tooltip md-direction="bottom">
                 Time Period
               </md-tooltip>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="time in period">
                    <md-button ng-click="periodAnnounceClick($index)">
                        {{time}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <span class="md-body-1" style="">{{ current }}</span>


        <md-button ng-click="rumble()">
            <md-icon md-font-set="material-icons"> error </md-icon>
            <md-tooltip md-direction="bottom">
             Trigger Earthquake
           </md-tooltip>
        </md-button>
        <div layout-xs="column" flex-xs="100">

          <md-checkbox style="margin-top: 20px" aria-label="Disabled checkbox" ng-model="rumbleEnabled">
            Rumble
          </md-checkbox>
        </div>
        <md-menu>
            <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-set="material-icons"> settings </md-icon>
                <md-tooltip md-direction="bottom">
                  Map Settings
               </md-tooltip>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="toggleHeatmap()">
                        Heatmap
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="toggleMarkers()">
                        Markers
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-toolbar>
