<md-toolbar>
    <div id="menubar" class="md-toolbar-tools">
        <span>RumbleMap</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>

        <span class="md-body-2" style="padding-right:10px">{{ filter.mag }}</span>
        <md-slider ng-model="filter.mag" ng-change="filterMarkers()" min="0" max="10" class="md-warn"> </md-slider>
        <md-menu>
            <md-button aria-label="Time Period" ng-click="$mdOpenMenu($event)">

                <md-icon md-font-set="material-icons"> event </md-icon>
                <md-tooltip md-direction="bottom">
                 Time Period
               </md-tooltip>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="time in period">
                    <md-button ng-click="periodAnnounceClick($index)">
                        {{time}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>


        <md-button>
            <md-icon md-font-set="material-icons"> assessment </md-icon>
            <md-tooltip md-direction="bottom">
             Earthquake Stats
           </md-tooltip>
        </md-button>

        <md-menu>
            <md-button aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-set="material-icons"> settings </md-icon>
                <md-tooltip md-direction="bottom">
                  Map Settings
               </md-tooltip>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="toggleHeatmap()">
                        Heatmap
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="toggleMarkers()">
                        Markers
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-toolbar>
